

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 900;
    

  }
  

body{
    background-color: black;
    
}
nav{
    max-width: 1060px;
    margin: 6px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home{
    display: flex;
    width: 469px;
    height: 45px;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid ;
    border-radius: 20px;
   
    font-weight: 600;
    align-items: center;
}
.primary{
    color:#E6533C
}
.nav-home{
    width: 94px;
    height: 38px;
    background-color:#E6533C ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 25px;
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.hero{
    max-width: 1060px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}
.hero-title{
    font-weight: 900;
    font-size: 78px;

}
.hero-container{
    width: 520px;
}
.hero-container >p{
    opacity: 70%;
    font-weight: 400;
}

.hero-btn{
    width: 224px;
    height: 54px;
    border-radius: 50px;
    color: white;
    border: 1px solid grey;
    font-weight: 600px;
    font-size: 18px;
    margin-left: 20px;
}
.hero-img{
  
    position: relative;
}
.free{
    width: 193px;
    height: 98px;
    background-color: #FFFFFF1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 60%;
   
}
.video{
    width: 193px;
    height: 98px;
    background-color: #FFFFFF1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
   bottom: 10%;
   right: 70%;
    
}
.banner{
    max-width: 1060px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 25px;
    border-radius: 20px;
    
}
.runnig{
    width: 366px;
    height: 312px;
    border-radius: 30px;
}

.banner-class{
    margin-top: 90px;
     display: flex;
     justify-content: space-around;
}

